<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <title>Aboutページ</title> 
  </head>
  <body>
  <div class="p-1 m-3">
    <div class="container pt-3 font">
     <main>
      <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-7">
            <div class="text-center m-3 p-3 border-bottom">
              <h4>このサイトについて</h4>
            </div>
            <div class="pt-3 pb-1">
              <h5 class="p-2">
                - サイトテーマ -
              </h5>
              <div class="ml-3 pb-4">
                イラスト・画像等が投稿できるサイト
              </div>
            </div>

            <div>
              <h5>
                - テーマを選んだ理由 -
              </h5>
                <p class="ml-3">
                  イラスト投稿などができるサイトを自分でも作ってみたいと思いました。<br>
                  また作品を閲覧したり、<br>
                  クリエイターと気軽にやり取りできる場所を作りたい思ったからです。
                </p>
            </div>

            <div class="pt-3 pb-1">
              <h5>
                - ターゲットユーザ -
              </h5>
              <ul>
                <li>イラストや写真を投稿してみたい人</li>
                <li>イラストや漫画、写真等に興味がある人</li>
                <li>クリエイターに仕事を依頼したい人</li>
              </ul>
            </div>

            <div class="pt-3 pb-3 ">
              <h5>
                - 主な利用シーン -
              </h5>
                <ul>
                  <li>作成した作品を投稿したい時</li>
                  <li>クリエイターの作品を閲覧したい時</li>
                  <li>クリエイターに依頼をしたい時</li>
                </ul>
            </div>
            <div class="text-center border-top pt-4 mb-4">
            <%= link_to 'Back', root_path, class: 'btn btn-sm btn-outline-secondary' %>
        </div>
      </div>
     </main>
    </div>
  </div>
  </body>
</html>
