
<div class="p-3 m-2">
  <div class="container text-center font">
    <div class="row d-flex justify-content-center">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h2 class="top-title p-4">~welcome to Ilis_port~</h2>
        <p class="top-title pb-4">トップページへようこそ</p>
          <div class="btn-wrapper col-10 mx-auto">
            <div class="row">
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>
            </div>
            <div class="row">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-secondary btn-sm btn-block" %>
            </div>
            <br><br>
          </div>
      </div>
    </div>
  </div>
</div>


