<!DOCTYPE html>
<html>
<head>
  <title>Abautページ</title>
</head>
<body>
  <heder>
    <nav>
      <ul>
        <li><a href="<%= root_path %>">ホーム</a></li>
        <li><a href="<%=  %>">新規登録</a></li>
        <li><a href="<%=  %>">サインイン</a></li>
        <li><a href="<%= about_path %>">About</a></li>
      </ul>
    </nav>
  </heder>
  <main>
   <p>ilis_portへようこそ、ここがAboutページです！</p>

   <h3>サイトテーマ</h3>
   <div>イラスト、漫画、画像等が投稿でき、PFとしても活用できるサイト </div>
   
   <h3>テーマを選んだ理由</h3>
   <div>人に見せられるレベルではありませんが、息抜きに絵を描くことがあり、イラスト投稿などができるサイトを自分でも作ってみたいと思いました。<br>
   それに伴い、人が作るイラストや漫画、画像に興味がある全ユーザーが閲覧でき、かつクリエイターを探している、<br>
   依頼したいといった希望を持つ企業やユーザーがその作成者と気軽にやり取りできるような場を作りたいと思いました。<br><br>
   ただし昨今のAI生成事情も加わり、人が描いたものなのかAIが生成したものなのかの区別が付きづらくなったことでクリエイターへの誹謗中傷が目立つようになりました。<br>
   上記のことから、クリエイターの皆様が第三者に攻撃かつ盗用されることなく、安心して創作活動に専念できるような場所も作ってみたいと思いました。
   
   <h3>ターゲットユーザ</h3>
   <div>
   ・主にイラストや写真などを投稿してみたい人<br>
   ・イラストや漫画、写真等に興味のある人<br>
   ・クリエイティブな活動を行うユーザーに仕事を依頼したい人<br>
   </div>

   <h3>主な利用シーン</h3>
   <div>
   ・作成したイラスト、撮った写真等などを投稿したい時<br>
   ・自分の創造物を企業やユーザーにアピールするために使いたい時<br>
   ・クリエイターの作品を閲覧したい時<br>
   ・クリエイターに依頼してみたい時<br>
   </div>
  </main>
<br>
<br>
  <footer>
    <div>
      <p>© 2024 Your Company. All rights reserved.</p>
    </div>
 </footer>
</body>
</html>
