<!DOCTYPE html>
<html>
<head>
  <title>ホームページ</title>
</head>
<body>
  <heder>
    <nav>
      <ul>
        <li><a href="<%= root_path %>">ホーム</a></li>
        <li><a href="<%=  %>">新規登録</a></li>
        <li><a href="<%=  %>">サインイン</a></li>
        <li><a href="<%= about_path %>">About</a></li>
      </ul>
    </nav>
  </heder>
  <main>
   <hi>Home</h1>
   <p>ここがトップページです</p>
  </main>
</body>
</html>

