@use '~bootstrap/scss/bootstrap';

.font {
  background-color: rgb(247, 245, 240);
}

.navbar {
  background-color: rgb(51, 158, 182);
}

.font-saize {
  font-size: 30px;
}

.toukoubi {
  text-align: right;
}