@use '~bootstrap/scss/bootstrap';

.font {
  background-color: rgb(247, 245, 240);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background-color:   rgb(51, 158, 182);

}

.font-saize {
  font-size: 30px;
}

.user-font-saize {
  font-size: 13px;
}

.toukoubi {
  text-align: right;
}

.border-bt {
  border-bottom: 0.3px solid #4682b4;
}

.backcolor-user {
  background-color: #e6e6fa;
}





.navbar-nav .nav-link {
  padding: 0 15px; /* 項目間のスペース */
  transition: color 0.3s ease;
}



